@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full
    cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out
  }
}

/* Some coustom styles for DateRangePicker */
@media screen and (max-width: 500px) {
  .rdrDateRangePickerWrapper {
    flex-direction: column;
  }
  .rdrStaticRanges {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .rdrDefinedRangesWrapper {
    width: 100% !important;
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 2rem;
  }

  .rdrInputRanges div:nth-child(2) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .rdrInputRange {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .rdrMonthsVertical {
    flex-direction: row !important;
    justify-content: center;
  }
}
